@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.curve-text {
  font-weight: bold
}

.pokeball {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  float: left;
  animation: spin 3s linear infinite;
  filter: drop-shadow(0 0 2rem crimson);
  border-radius: 100px;
}

.pokeball:hover {
  cursor: pointer;
  margin-top: -10px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
} 

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(720deg);
    /* Spin for 25% of the animation duration (720 degrees) */
  }

  50% {
    transform: rotate(720deg);
    /* Pause for 50% of the animation duration */
  }

  75% {
    transform: rotate(1440deg);
    /* Spin again for the next 25% of the animation duration (1440 degrees) */
  }

  100% {
    transform: rotate(1440deg);
    /* Pause for the last 25% of the animation duration */
  }
}